extends ../_component/layout/layout

block super-config
    -
        let title = 'How to become a web developer in 2018'
        let description = `Many of you wonder about how it is to be a coder, a developer. Some of you might have a hidden dream of being one, a web developer.`
        let createDate = `2018-02-13`

block awesome-content
    p Many of you wonder about how it is to be a coder, a developer. Some of you might have a hidden dream of being one, a web developer. 
    p Let’s talk about that.
    p The world is changing, is evolving and if ten to twenty years ago there was lots of narrow minded cynic people supporting you with “That’s not a real job”, today there are less and less of them. The new generation understood that this market has a future and the demand of developers is greater than the offer, which puts you in a really good position.
    p I mean it’s so frustrating to me that most of you miss this amazing opportunity having a bad concept about it implanted and imprinted in their head, like: you have to be a genius, good at math or some other lame excuse.
    p I mean, to make sure it’s not just my word and my thoughts supporting my belief that everyone can code, I went on a journey to either prove or disprove myself. I’ve started working on a mentor programme aimed at people that have a particular aspect: they know nothing about coding. The two big ideas of this programme are: one, to enable you and anyone just like you, to start coding straight away without knowing anything about coding and learn while you do it, and two, to only deliver the very minimum required knowledge, packed with the best techniques and shortcuts, so you can deliver amazing products to your clients or employers.
    p So far I’ve helped taxi drivers, electricians, plumbers, waiters, other coders to go through the programme and jumpstart their career or improve it. The success is 100% so far and I’m pretty amazed myself. I mean who knew it really works for everyone? I was taught that only the ones that have at least one, two or three university knowledge under their belt will have a chance at an amazing life. By the way, I only finished high school and barely did that too.
    p So how can I say that coding is for everyone, for you when I don’t know you? Because my student’s secret to success (and mine) have nothing to do with where they came from, what school they attended or what connections they had. Rather it had everything to do with their dedication for a long term goal, their appreciation of the opportunity that was standing in front of them and their willingness to do everything to make their dream come true, to push beyond their known limits. And that, my friend, is something I can teach you to do, too.
    p I want to be blunt with you. A good part of you won’t become extremely successful or millionaires. Some of you will and the others will only have an exciting career, a very well paid job that’ll allow them to afford fancy cars, a house, holidays, enjoy good things in life or whatever makes you happy. 
    p There’s only one way to find out. Either way you win. Join CodeTap and start building websites, start your web developer career. The codetap community is filled with advice and inspiration from people just like you and me. Best of all, it’s free. All the steps are nicely organized in playlists for you to enjoy and walk on a path of discovery.
    p Here are just a few playlists / projects to get you started, that you can find following this link on YouTube: https://www.youtube.com/codetap/playlists

    p Total beginner playlists:
    ol
        li Before we start coding
        li everyone can code - the beginning

    p Beginner playlists:
    ol
        li Learn to Code like a PRO for beginners
        li Your resume online for free using HTML5 and CSS3
        li Quick Blog

    p And many more. Most of them are inspired from real world scenarios or ar solutions to real projects or requirements.
