extends ../_component/layout/layout

block super-config
    -
        let title = 'How to Crush it in 3 steps in 2018?'
        let description = `Get skills and either start freelancing or get a job`
        let createDate = `2018-02-15`

block awesome-content
    p How to Crush it in 3 steps in 2018?
    p Get skills and either start freelancing or get a job
    p It can be about anything the market is in demand. I can definitely help you out to become a web developer and you can check my article or video on “How to become a web developer in 2018”.

    p You can also be a designer, a consultant or any other career that offers a great ascension. One that you don’t get stuck at the same level and there is always room to grow, to step up as long as you get better and better at it. 

    p Again, the web developer career offers this big range and it’s amazing that you don’t need any knowledge to start.
    p Get really confident about yourself, your skills, your communication, presentation and so on, make yourself likeable, wantable and become a CONTRACTOR
    p This is a step where you can already get to crush it, get to a place where you can afford what you like and be happy about it. All you have to do is find out what you want / need to do to get in the top 10% in your niche. Once you’ve identified it push and push and push some more to get there. 

    p Do courses and build projects, basically learn and practice or practice and learn while you do it. Read books, do more courses, build more projects, read articles, go to meetings and grow your network, make new friends, join communities and help out. Live and breathe your craft.

    p As a contractor you don’t want to stay 5 - 10 years in the same place, you want to move a lot, 3 months here, 6 there, 1.5 years somewhere else, the point is to get through lots of projects, scenarios and gain even more knowledge and experience. 

    p This will make you a top dog in your niche and at the same time enable the option for step 3.

    p Save money every month and use those money to power up business ideas.
    p This is the next step, the level up from being a contractor. Of course you can spend them on lots and lots of shitty things. I once got to buy an orange peeler for £2. It’s not about £2, it’s about why do I need it? Can’t I really use my fingers like everybody else? That was my wakeup moment.
    p Now there is more opportunity than ever in history. Now you can cash in on your passion so grab your spot, make your mark and start living your dream, your heaven by making it true.

    p Don’t try, do your best to spend as little as possible on shitty crappy things that don’t matter for you and invest all you can, all you’ve got in your business ideas. 

    p What about failing? Fail is part of the process! Embrace it. Fail a lot and learn from each fail. If the first business idea fails, do another one, and another one. It’s only the business that fails.

    p You’ll succeed by failing with each one as you’ll gain invaluable experience. And this experience is the one that will lead you towards your greatest moment, your greatest success.

    p So those are the three steps you can follow to Crush it. 

    p If you have any suggestion leave it in the comment section below.
    p I’m also opened for 1 to 1 mentoring and I can help to get through those steps quicker. It’s quite easy, all you have to do is start a chat and say “Hi”.
