.menu__list {
    position: fixed;
    bottom: 0;
    right: 0;
    list-style-type: none;
    background-color: $color-white;
    border: 0.1rem solid $color-dark;
}

.menu__link {
    display: block;
    padding: 0.2rem 0.5rem;
    text-decoration: none;
}

.menu__item {
    border-bottom: 0.1rem solid $color-dark;

    &:last-child {
        border-bottom: 0;
    }
}